

/*Nav Menu*/
#nav_menu ul {
	width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#nav_menu ul li {
float: left;

}

#nav_menu ul ul {
display: none;
position: absolute;
top: 100%;
}

#nav_menu ul li a {
display: block;
width: 100%;
text-align: center;
padding: 1em 1em;
text-decoration: none;
background-color: black;
color: white;
font-weight: bold;
font-size: 14px;
}

#nav_menu ul li a.current {
color: red;
}

#nav_menu ul ul li {
float: left;
}

#nav_menu ul li:hover > ul {
display: block;
}

#nav_menu>ul::after{
content: "";
display: block;
clear: both;
}

#nav_menu ul .sub-menu a:hover{
        background: purple;
}
h1:first-letter { font-size: 175%}
h2:first-letter { font-size: 155%}
h3:first-letter { font-size: 145%}

img {
  display: block;
  height: auto;
  width: 100%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1%;
}

.container__item {
  height: auto;
  margin-top: 1vw;
  width: 98vw;
}

.container__item:first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  .container__item:first-child {
    width: 100%;
  }
  .container__item:nth-child(n+2) {
    flex: 1;
    margin-right: 1%;
  }
  .container__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .container__item:nth-child(-n+2) {
    flex: none;
    margin: 0;
    width: 49.5%;
  }
  .container__item:first-child {
    margin-right: 1%;
  }
  .container__item:nth-child(n+3) {
    flex: 1;
    margin-right: 1%;
  }
  .container__item:last-child {
    margin-right: 0;
  }
}

ul{
padding: 0;
}

a:link, a:visited {color: yellow; font-weight: bold;}

a:hover, a:focus {color:magenta; font-weight: bold}


/* Footer*/
footer {
font-size: 85%;
width: 100%;
clear:both;
text-align: center;
border: black solid 3px;
border-width: 3px 0px 0px 0px;
padding: .75em;
background-image: -webkit-linear-gradient(30deg, black 0%, blue 25%, white 99%);
background-image: -moz-linear-gradient(30deg, white 0%, blue 25%, black 99%);
}
.fid {
	color: pink;
	text-shadow: 2px 0px 5px rgba(0,0,0,1);
}
@media screen{
.bid {
}
.container {
}
.nav_menu {
}
.art {
}

@media (min-width: 798px) and (max-width: 923px){
}
