/* Universal select to reset some properties */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  body {
    border: 2px solid #000;
  }
  /* Header */
  header {
    display: flex;
    padding: 10px;
    background: linear-gradient(25deg, #fbf9f8, #feaa10, #000000);
  }
  header .img {
    margin-right: 10px;
  }
  header .headerContent {
    display: flex;
    flex-direction: column;
  }
  header img {
    max-width: 50px;
  }
  /* End Header */
  
  /* Navbar */
  nav {
    padding: 10px;
    background: #000;
  }
  nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  nav .icon {
    display: none; /* hide icon button on desktop screens */
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a:hover {
    color: #ccc;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  /* End navbar */
  
  /* Main div */
  .container {
    display: flex;
  }
  /* Sidebar */
  .container .sidebar {
    flex: 1;
    padding: 2%;
    display: flex;
    flex-direction: column;
  }
  .container .sidebar button {
    padding: 10px;
    background: #fea504;
    outline: 0;
    border: 2px solid #000;
    margin: 5px 0;
    color: #000;
  }
  /* End Sidebar */
  /* Main section */
  .container .mainContent {
    padding: 2%;
    flex: 4;
  }
  .mainContent .item {
    margin: 10px 0;
  }
  .mainContent .item strong {
    color: #fea504;
  }
  .mainContent .item .price {
    font-size: calc(0.6vw + 0.5rem);
  }
  .mainContent .item .price b {
    color: #000;
  }
  .mainContent .item .price span {
    color: #565656;
  }
  .mainContent .item p {
    font-weight: 600;
    color: #565656;
    margin: 5px 0;
    font-size: calc(0.6vw + 0.5rem);
  }
  /* End Main section */
  
  /* Footer */
  footer {
    width: 100%;
    font-size: calc(0.6vw + 0.5rem);
    padding: 10px;
    display: grid;
    place-items: center;
    border: 1px solid #000;
    outline: 0;
    background: linear-gradient(209deg, #fbf9f8, #feaa10, #000000);
  }
  /* End footer */
  
  /* Responsive media  */
  @media screen and (max-width: 600px) {
    nav {
      position: relative;
      background: #313131;
    }
    nav ul {
      justify-content: space-between;
    }
    .menuItem {
      /* Hide all menu items */
      display: none;
    }
    /* if responsive class is added by js*/
    .topnav.responsive {
      /* Set menu items direction vertically */
      flex-direction: column;
    }
    .topnav.responsive li {
      margin-bottom: 10px;
    }
    .topnav.responsive .menuItem {
      /* Show menu items */
      display: block;
    }
    /* show toogle button */
    nav .icon {
      background: #000;
      font-size: calc(0.6vw + 0.7rem);
      padding: 5px 10px;
      border-radius: 5px;
      display: block;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 10px;
    }
  
    .container {
      padding: 5%;
      /* Reorder the section and sidebar */
      flex-direction: column-reverse;
    }
    .container .sidebar {
      align-items: center;
    }
    .container .sidebar button {
      width: 50vw;
    }
  }
  